streamlit
yfinance==0.1.67*
statsmodels
numpy
pandas
sklearn.preprocessing
tensorflow.keras.models
tensorflow.keras.layers
matplotlib.pyplot 
seasonal_decompose
statsmodels.tsa.seasonal
pandas
streamlit.components.v1
sklearn.preprocessing import StandardScaler
tensorflow.keras.models import Sequential
tensorflow.keras.layers import Dense, LSTM, Dropout
