streamlit
yfinance
statsmodels
numpy
pandas
sklearn.preprocessing
tensorflow.keras.models
tensorflow.keras.layers
matplotlib.pyplot 
seasonal_decompose
statsmodels.tsa.seasonal
pandas
yfinance
streamlit
streamlit.components.v1
